.albums-carousel {
  position: relative;
}

.embla {
  overflow: hidden; /* Embla needs hidden */
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 36px;
  padding-bottom: 25px;
}

.embla__container {
  display: flex;
  gap: 18px;

}

.embla__slide {
  flex: 0 0 calc((100% - 18px) / 2); /* 2 visible on small screens */
  min-width: 1; 
}

@media (min-width: 800px) {
  .embla__slide {
    flex-basis: calc((100% - 18px * 2) / 3); /* 3 visible on desktop */
  }
}

/* Optional: fade edges to hint scrollability */
.albums-carousel::before,
.albums-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 36px;
  pointer-events: none;
  z-index: 1;
}

.albums-carousel::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.albums-carousel::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Nav buttons */
.albums-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  font-size: 30px;
  width: 40px;
  height: 90px;
  border-radius: 999px;

  border: none;
  background: rgba(255, 255, 255, 0.691);
  backdrop-filter: blur(6px);
  color: inherit;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);

  display: grid;
  place-items: center;

  transition: background 140ms ease, color 140ms ease, transform 140ms ease, opacity 140ms ease;
}

.albums-nav:hover {
  color: aliceblue;
  background: rgb(229, 181, 35);
}

.albums-nav-left { left: 4px; }
.albums-nav-right { right: 4px; }

.albums-nav:active {
  transform: translateY(-50%) scale(0.9);
}

.albums-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

