/* The full page background */
.page{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  
}

.page::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
}


/* the column/line of cubes */
.ps-grid{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction:row;    
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 2%;
}


/* THE CUBE */
.ps-card{
  border-radius: 26px;
  backdrop-filter: blur(10px);
  background: var(--bgCard);
  border: 3px solid rgba(0, 0, 0, 0.364);
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow:
    0 10px 22px rgba(0, 0, 0, 0.373),
    0 0 0 1px rgba(255,255,255,0.12) inset;
  cursor: pointer;
  padding: 20px;
   font-family: "Roboto Condensed", "Roboto", sans-serif;

}



/* HOVER: background changes + a bit bigger + more shadow */
.ps-card:hover{
  background: var(--bgCardHover);
  transform: scale(1.05);
  box-shadow:
    0 18px 38px rgba(0, 0, 0, 0.548),
    0 6px 14px rgba(0, 0, 0, 0.358),
    0 0 0 1px rgba(255, 255, 255, 0.346) inset;
}

/* The label inside the cube - Phone */
.ps-label{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500 ;
  opacity: 0.9;
}
.ps-card:hover .ps-label {
  font-weight: 520;
  opacity: 1;
}

/* The icon circle above the label */
.ps-icon {
  color: rgba(255,255,255,0.85);
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,0.18);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.12) inset;
  transition: transform 200ms ease, background 200ms ease, color 200ms ease;
}

.ps-card:hover .ps-icon {
  transform: translateY(-4px) scale(1.05);
  background: rgba(0,0,0,0.26);
  color: rgba(255,255,255,0.95);
}

/* Phone */
.ps-card{
  width: 170px;
  height: 170px;
}

.ps-grid{
  min-height: calc(75vh - 120px); 
  gap: 18px;
}

/* Big screen */
@media (min-width: 900px){
  .ps-grid{
    min-height: calc(75vh - 120px); 
    gap: 40px;


  }

  .ps-card{

    font-size: 23px;
    width: 270px;
    height: 270px;
  }
  
  .ps-label{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500 ;
    opacity: 0.9;
  }

  .ps-icon {
    width: 50px;
    height: 50px;
    }

    
}